<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>
    <link rel="stylesheet" href="/css/add_forms.css">
</head>
<body>
<h2>ADD BRAND</h2>

<form action="/brands/add" method="post">
    <label for="name">Brand Name:</label>
    <input type="text" id="name" name="name" required>

    <button type="submit">Add Brand</button>
</form>

<a href="/">Back to Home</a>
</body>
</html>
